.container {
	background: rgb(255, 255, 255);
	margin-top: 50px;
  padding: 50px;
	border-radius: 15px;
	border: 3px solid rgb(233, 233, 233);
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.alert {
	margin: 15px 0;
}